<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/add.css">
</head>
<body>
    <h1>Register</h1>
    <form action="/register" method="post">
<table>
    <tr>
        <td><label for="">ID &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input type="number" name="patientId" placeholder="ID"></td>
        <td><label for="">Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </label>
            <input type="text" name="patientName" placeholder="Enter Name"></td>
    </tr>
    <tr>
        <td><label for="">Age&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
         <input type="number " name="patientAge" placeholder="Enter Age"></td>
    
    <td><label for="">MobileNo</label>
     <input type="number" name="patientNumber" placeholder="Enter Mobile No"></td>
  </tr>
     <tr>
         
        <td><label for="">Address</label>
    <input type="address" name="patientAddress" placeholder="Enter the Address"></td>
<td>    
    <label for="">Disease&nbsp;&nbsp;&nbsp;</label>
    <input type="text" name="patientDisease" placeholder="Enter Disease"><br></td>
    </tr>

    </table>
    <button type="submit">Submit</button>
    </form>
 
</body>
</html>